body
{
	max-width: 50%;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 50px;
	margin: 0;
	background-color: #fffffa;
}

.mono
{
	font-family: 'Lucida Console', monospace;
	font-size: 9pt;
}

img
{
	height: 300px;
	width: 300px;
}
